/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #212121;
}
/* Apply text functions to all text elements */
* {
    color: burlywood;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}


/* Navbar styles */
.navbar {
    background-color: #f8f9fa;
    padding: 10px;
}

.navbar-brand {
    font-weight: bold;
    color: #333;
}

.navbar-nav {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

.nav-link:hover {
    color: #007bff;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

/* Footer styles */
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    color: #333;
}